In [1]:
2+3

5

In [2]:
3-2

1

In [3]:
2*3

6

In [4]:
3.14**2 # = 3.14^2

9.8596

In [5]:
3.14^2

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

In [6]:
2**0.5

1.4142135623730951

In [7]:
5/2

2.5

In [8]:
5//2 # 몫만

2

In [10]:
5%2 # 나머지

1

In [11]:
a = 6

In [12]:
b = 4

In [13]:
a + b

10

In [14]:
a * b

24

In [15]:
a - b

2

In [16]:
a ** b

1296

In [17]:
a / b

1.5

In [18]:
a // b

1

In [19]:
a % b

2

In [20]:
a = 20

In [22]:
a += 5 # a = a + (5)

In [23]:
print(a)

30

In [24]:
a -= 10

In [25]:
print(a)

20

In [26]:
a *= 2

In [27]:
print(a)

40

In [28]:
a /= 3

In [29]:
print(a)

13.333333333333334

In [30]:
a = 3

In [31]:
b = 2

In [32]:
a *= 2+b

In [33]:
print(a)

12

In [34]:
a = 95

In [35]:
a == 90

False

In [36]:
a != 90

True

In [37]:
a > 90

True

In [38]:
a > = 90

SyntaxError: invalid syntax (<ipython-input-38-e5fad4316062>, line 1)

In [39]:
a <= 90

False

In [40]:
a>=90 and a <=100

True

In [41]:
90 <= a <= 100

True

In [43]:
100 <= a <=110

False

In [52]:
a = [1,2,'Hello World']

In [45]:
b = [1,2,'Hello World']

In [46]:
id(a) == id(b)

False

In [47]:
id(a)

2260886020424

In [48]:
id(b)

2260886009608

In [49]:
a.append('A')

In [50]:
a

[1, 2, 'Hello World', 'A']

In [53]:
a == b

True

In [54]:
a != b

False

In [59]:
# 식병 연산자 
#메모리위치 비교

In [57]:
a is b # = id

False

In [58]:
a is not b

True

In [60]:
#구성원 연산자

In [63]:
a = [1,2,'Hello World']

In [65]:
1 in a

True

In [66]:
1 not in a

False

In [67]:
3 in a

False

In [68]:
b = {'a':1,'b':2,'c':3}

In [69]:
'a' in b

True

In [70]:
'k' in b

False

In [71]:
1 in b # key 값만 조화가능

False

In [72]:
a = [
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0},
    {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0},
    {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0}
]

In [73]:
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 0,
 'avg': 0.0,
 'order': 0}

In [74]:
a[0]['total']

0

In [75]:
a[0]['total'] = 1

In [76]:
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 1,
 'avg': 0.0,
 'order': 0}

In [77]:
a[0]['total'] = a[0]['kor'] + a[0]['eng'] + a[0]['math']

In [78]:
a[1]['total'] = a[1]['kor'] + a[1]['eng'] + a[1]['math']

In [79]:
a[2]['total'] = a[2]['kor'] + a[2]['eng'] + a[2]['math']

In [80]:
a

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 0.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 0.0,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 0.0,
  'order': 0}]

In [81]:
a[0]['avg'] = a[0]['total']/3

In [82]:
a[1]['avg'] = a[1]['total']/3

In [83]:
a[2]['avg'] = a[2]['total']/3

In [84]:
a

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 0}]