## 1. 배열

- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조

- 파이썬에서는 리스트 타입이 배열  기능을 제공하고 있음

### 배열이 왜 필요할까?

- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용

- 같은 종류의 데이터를 순차적으로 저장

배열의 장점 : 빠른 접근 가능

배열의 단점 : 추가 삭제가 쉽지 않음

## 2. 파이썬과 C언어의 배열 예제

C언어의 예제

include <studio.h>
int main(int argc, char * argv[])
{
    char country[3] = "US";
    printf("%c%c\h", country[0], country[1]);
    printf("%s\n", country);
    return 0;
}

In [8]:
# 파이썬의 예제
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

## 3. 파이썬과 배열

- 파이썬 리스트 활용

In [9]:
# 1차원 배열 : 리스트로 구현시
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [11]:
# 2차원 배열 : 리스트로 구현시
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
print(data[0])

[1, 2, 3]

In [ ]:
print(data[0][0])

## 3. 프로그래밍 연습

위의 2차원 배열에서 9,8,7 순서로 출력해보기

In [17]:
data[2][2]

9

In [18]:
data[2][1]

8

In [19]:
data[2][0]

7

연습 2: 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력하기

In [23]:
dataset = ['Braund, Mr. Owen Harris',
    'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
    'Heikkinen, Miss. Laina',
    'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
    'Allen, Mr. William Henry',
    'Moran, Mr. James',
    'McCarthy, Mr. Timothy J',
    'Palsson, Master. Gosta Leonard',
    'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
    'Nasser, Mrs. Nicholas (Adele Achem)',
    'Sandstrom, Miss. Marguerite Rut',
    'Bonnell, Miss. Elizabeth',
    'Saundercock, Mr. William Henry',
    'Andersson, Mr. Anders Johan',
    'Vestrom, Miss. Hulda Amanda Adolfina',
    'Hewlett, Mrs. (Mary D Kingcome) ',
    'Rice, Master. Eugene',
    'Williams, Mr. Charles Eugene',
    'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
    'Masselmani, Mrs. Fatima',
    'Fynney, Mr. Joseph J',
    'Beesley, Mr. Lawrence',
    'McGowan, Miss. Anna "Annie"',
    'Sloper, Mr. William Thompson',
    'Palsson, Miss. Torborg Danira',
    'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
    'Emir, Mr. Farred Chehab',
    'Fortune, Mr. Charles Alexander',
    'Dwyer, Miss. Ellen "Nellie"',
    'Todoroff, Mr. Lalio'
   ]

In [26]:
rn_count = 0

for data in dataset :
    print(data)

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Rut
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Andersson, Mr. Anders Johan
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sloper, Mr. William Thompson
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio

In [31]:
for data in dataset :
    for index in range(len(data)):
        if(data[index] == 'M') : 
            rn_count += 1

In [32]:
print(rn_count)

38

연결된 데이터 공간에 데이터를 넣는 것이 인덱스

첫번째 데이터의 위치만 알고있으면 뒤에있는 데이터위치를 알 수 있다.