Declare

In [83]:
import sqlalchemy

In [84]:
from sqlalchemy import create_engine

In [200]:
engine = create_engine("sqlite:///orm2.db",echo=True)

In [201]:
engine

Engine(sqlite:///orm2.db)

In [202]:
from sqlalchemy.ext.declarative import declarative_base

In [203]:
base = declarative_base()

In [204]:
base.metadata

MetaData(bind=None)

In [205]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [206]:
metadata = MetaData(bind=engine, reflect=True)

2019-07-09 16:05:12,995 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 16:05:12,996 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:12,997 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 16:05:12,998 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:12,998 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 16:05:12,999 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,002 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 16:05:13,003 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,005 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 16:05:13,006 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,008 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 16:05:13,009 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,010 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 16:05:13,011 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,013 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 16:05:13,014 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,015 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 16:05:13,016 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,017 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 16:05:13,018 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,020 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 16:05:13,020 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,022 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 16:05:13,022 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,024 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 16:05:13,025 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,026 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 16:05:13,027 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,029 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 16:05:13,030 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,031 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 16:05:13,031 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,033 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 16:05:13,033 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,035 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 16:05:13,036 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,038 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 16:05:13,038 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,040 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 16:05:13,041 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,042 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 16:05:13,043 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,045 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 16:05:13,045 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,047 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 16:05:13,048 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,049 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 16:05:13,050 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,051 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 16:05:13,052 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,054 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 16:05:13,055 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,056 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 16:05:13,057 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,058 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 16:05:13,059 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,060 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 16:05:13,061 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,063 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 16:05:13,063 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 16:05:13,065 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 16:05:13,065 INFO sqlalchemy.engine.base.Engine ()

C:\Users\scminnoG15\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

In [92]:
metadata.reflect(bind=engine)

2019-07-09 15:09:58,762 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:09:58,764 INFO sqlalchemy.engine.base.Engine ()

In [93]:
metadata.bind

Engine(sqlite:///datamapping.db)

In [110]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s',fullname='%s',password='%s')>"\
                %(self.name, self.fullname, self.password)

In [111]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [112]:
base.metadata.create_all(engine)

2019-07-09 15:13:05,631 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users2")
2019-07-09 15:13:05,633 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:13:05,634 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:13:05,635 INFO sqlalchemy.engine.base.Engine ()

In [114]:
kim = User(name="kim" , fullname="anonymous,kim" , password="kimbap heaven")

In [115]:
print(kim)
print(kim.id)

<T'User(name='kim',fullname='anonymous,kim',password='kimbap heaven')>
None

In [ ]:
from sqlalchemy.orm import sessionmaker,session

In [138]:
sqlalchemy.orm.session.Session

sqlalchemy.orm.session.Session

In [139]:
sqlalchemy.orm.session.sessionmaker

sqlalchemy.orm.session.sessionmaker

In [159]:
Session = sessionmaker(autoflush=False)

In [160]:
session = Session()

In [161]:
session.add(kim)

InvalidRequestError: Object '<User at 0x215b61688d0>' is already attached to session '5' (this is '8')

In [162]:
session.add_all([
    User(name="lee", fullname="unknown, lee", password="1234"),
    User(name="park", fullname="nobody, park", password="1234"),
])

In [145]:
metadata.bind

Engine(sqlite:///datamapping.db)

In [146]:
metadata.create_all(engine)

2019-07-09 15:21:24,962 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:21:24,963 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:21:24,965 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users2")
2019-07-09 15:21:24,967 INFO sqlalchemy.engine.base.Engine ()

In [147]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=Engine(sqlite:///datamapping.db)), Column('id', INTEGER(), table=<users>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<users>), Column('passwd', VARCHAR(), table=<users>), schema=None), 'users2': Table('users2', MetaData(bind=Engine(sqlite:///datamapping.db)), Column('id', INTEGER(), table=<users2>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<users2>), Column('passwd', VARCHAR(), table=<users2>), schema=None)})

In [153]:
Session.configure(bind=engine)

In [154]:
session = Session()

In [163]:
add(instance, _warn=True)

NameError: name 'add' is not defined

In [158]:
add_all(instance)

NameError: name 'add_all' is not defined

In [128]:
dirty

NameError: name 'dirty' is not defined

In [129]:
kim.password = "password"

In [130]:
session.dirty

IdentitySet([])

In [131]:
session.is_modified(kim)

True

In [134]:
commit()

NameError: name 'commit' is not defined

In [135]:
from sqlalchemy.orm import query

In [137]:
sqlalchemy.orm.query.Query(entities,session=None)

NameError: name 'entities' is not defined

씨발 뭐라는거야

In [170]:
class Artist(Base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Album(Base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))

class Genre(Base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Track(Base):
     __tablename__ = "Track"
     
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 23)

In [171]:
from sqlalchemy.orm import relationship

In [172]:
relationship

<function sqlalchemy.orm.relationship(argument, secondary=None, primaryjoin=None, secondaryjoin=None, foreign_keys=None, uselist=None, order_by=False, backref=None, back_populates=None, post_update=False, cascade=False, extension=None, viewonly=False, lazy='select', collection_class=None, passive_deletes=False, passive_updates=True, remote_side=None, enable_typechecks=True, join_depth=None, comparator_factory=None, single_parent=False, innerjoin=False, distinct_target_key=None, doc=None, active_history=False, cascade_backrefs=True, load_on_pending=False, bake_queries=True, _local_remote_pairs=None, query_class=None, info=None, omit_join=None)>

In [178]:
class User(base):
    __tablename__ = "users3"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" \
                % (self.name, self.fullname, self.password)

In [180]:
class Address(base):
    __tablename__ = "addresses"
    
    id = Column(Integer, primary_key=True)
    email_address = Column(String, nullable=False)
    user_id = Column(Integer, ForeignKey("users.id"))
    
    def __repr__(self):
        return "<Address(email_address='%s')>"% self.email_address

In [207]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    albumList = relationship("Album", back_populates="artist")
    
class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist", back_populates="albumList", uselist=False)
    trackList = relationship("Track", back_populates="album")
    
class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    albumList = relationship("Track", back_populates="genre")
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    album = relationship("Album", back_populates="trackList", uselist=False)
    genre = relationship("Genre", back_populates="trackList", uselist=False)

In [190]:
#metadata.clear()

In [192]:
Artist

__main__.Artist

In [196]:
Track??

In [211]:
track1 = Track(title="a",rating=1,length=1,count=0)

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'mapped class Album->Album'. Original exception was: Could not determine join condition between parent/child tables on relationship Album.trackList - there are no foreign keys linking these tables.  Ensure that referencing columns are associated with a ForeignKey or ForeignKeyConstraint, or specify a 'primaryjoin' expression.