In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.1'

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine("sqlite:///home.db", echo=True)

In [5]:
print(engine)

Engine(sqlite:///home.db)

Lazy connecting

In [ ]:
sqlalchemy.schema.Table??

In [34]:
sqlalchemy.schema.Table.select??

In [7]:
sqlalchemy.schema.Column??

In [8]:
sqlalchemy.schema.MetaData??

In [9]:
sqlalchemy.engine.Connection??

In [12]:
sqlalchemy.engine.ResultProxy??
# pointer 역할을 한다.

conn = engine.connect()
conn

insert.bind = engine

result = conn.execute(insert)

result.inserted_primary_key

#### excute의 params 사용

insert = users.insert()

result = conn.execute(insert, name="lee", fullname="Unknown, Lee")

result.inserted_primary_key

In [17]:
from sqlalchemy import *

In [18]:
metadata = MetaData()

In [19]:
artist = Table("Artist",metadata,
            Column("id",Integer, primary_key=True),
            Column("name",String, nullable=False),
            extend_existing=True
              )

album = Table("Album",metadata,
            Column("id",Integer, primary_key=True),
            Column("title",String, nullable=False),
            Column("artist_id",String, nullable=False),
            extend_existing=True
              )

genre = Table("Genre",metadata,
            Column("id",Integer, primary_key=True),
            Column("name",String, nullable=False),
            extend_existing=True
              )

track = Table("Track",metadata,
            Column("id",Integer, primary_key=True),
            Column("title",String, nullable=False),
            Column("length",Integer, nullable=False),
            Column("rating",Integer, nullable=False),
            Column("count",Integer, nullable=False),
            Column("album_id",Integer, ForeignKey("Album.id")),
            Column("genre_id",Integer, ForeignKey("Genre.id")),
            extend_existing=True
              )

In [20]:
metadata.create_all(engine)

2019-07-09 23:47:35,485 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 23:47:35,486 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,489 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 23:47:35,490 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,491 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 23:47:35,492 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,494 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 23:47:35,495 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,497 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 23:47:35,498 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,507 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 23:47:35,509 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 23:47:35,509 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,517 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 23:47:35,519 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 23:47:35,519 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,526 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 23:47:35,528 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 23:47:35,528 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 23:47:35,536 INFO sqlalchemy.engine.base.Engine COMMIT

-> DB Browser조회 가능

In [21]:
tables = metadata.tables

In [22]:
for table in tables:
    print(table)

Artist
Album
Genre
Track

In [23]:
for table in engine.table_names():
    print(table)

2019-07-09 23:49:35,715 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 23:49:35,716 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

In [24]:
conn.execute(artist.insert(),[
    {"name":"Led zepplin"},
    {"name":"AC/DC"}
])

2019-07-09 23:51:16,112 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 23:51:16,113 INFO sqlalchemy.engine.base.Engine (('Led zepplin',), ('AC/DC',))
2019-07-09 23:51:16,117 INFO sqlalchemy.engine.base.Engine COMMIT

-> 바로 browser 조회 가능

In [25]:
conn.execute(album.insert(),[
    {"title":"IV", "artist_id":1},
    {"title":"Who made Who", "artist_id":2}
])

2019-07-09 23:54:34,634 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 23:54:34,636 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who made Who', 2))
2019-07-09 23:54:34,639 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}
])

2019-07-09 23:55:39,666 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 23:55:39,667 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 23:55:39,670 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
conn.execute(track.insert(),[
    {"title":"Black Dog","rating":5, "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":"Stairway","rating":5, "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":"About to rock","rating":5, "length":313, "count":0, "album_id":1, "genre_id":2},
    {"title":"Who Made Who","rating":5, "length":297, "count":0, "album_id":1, "genre_id":2},
])

2019-07-09 23:59:25,544 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 23:59:25,545 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 1, 2), ('Who Made Who', 297, 5, 0, 1, 2))
2019-07-09 23:59:25,549 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
a = conn.execute(artist.select())

2019-07-10 00:00:47,320 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2019-07-10 00:00:47,321 INFO sqlalchemy.engine.base.Engine ()

In [32]:
print(a)
# iterable range랑 비슷하네

<sqlalchemy.engine.result.ResultProxy object at 0x0000020CBB624F98>

In [33]:
for row in a:
    print(row)

(1, 'Led zepplin')
(2, 'AC/DC')

---

### Open / Close

In [37]:
conn.close()
metadata.clear()

In [42]:
conn.begin()

2019-07-10 00:10:17,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

ResourceClosedError: This Connection is closed

In [40]:
metadata.tables

immutabledict({})

In [46]:
engine = create_engine("sqlite:///home.db",echo=True)
conn = engine.connect()

2019-07-10 00:11:56,819 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-10 00:11:56,820 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:11:56,821 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-10 00:11:56,822 INFO sqlalchemy.engine.base.Engine ()

In [48]:
conn

In [49]:
metadata = MetaData(bind=engine, reflect=True)

2019-07-10 00:12:46,211 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-10 00:12:46,212 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,214 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-10 00:12:46,216 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,218 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-10 00:12:46,219 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,221 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-10 00:12:46,222 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,224 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-10 00:12:46,224 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,228 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-10 00:12:46,229 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,230 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-10 00:12:46,232 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,233 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-10 00:12:46,234 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,238 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-10 00:12:46,238 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,240 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-10 00:12:46,241 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,243 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-10 00:12:46,245 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,246 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-10 00:12:46,247 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,248 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-10 00:12:46,249 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,251 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-10 00:12:46,253 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,254 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-10 00:12:46,256 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,258 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-10 00:12:46,260 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,262 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-10 00:12:46,263 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,264 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-10 00:12:46,266 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,268 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-10 00:12:46,269 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,271 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-10 00:12:46,272 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,273 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-10 00:12:46,275 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,277 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-10 00:12:46,278 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,280 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-10 00:12:46,281 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,283 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-10 00:12:46,284 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,286 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-10 00:12:46,287 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,288 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-10 00:12:46,289 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,292 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-10 00:12:46,293 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,295 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-10 00:12:46,296 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:12:46,297 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-10 00:12:46,298 INFO sqlalchemy.engine.base.Engine ()

C:\Users\scminnoG15\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

In [50]:
metadata.reflect(bind=engine)

2019-07-10 00:13:17,224 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-10 00:13:17,225 INFO sqlalchemy.engine.base.Engine ()

In [51]:
metadata.tables

immutabledict({'Album': Table('Album', MetaData(bind=Engine(sqlite:///home.db)), Column('id', INTEGER(), table=<Album>, primary_key=True, nullable=False), Column('title', VARCHAR(), table=<Album>, nullable=False), Column('artist_id', VARCHAR(), table=<Album>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(bind=Engine(sqlite:///home.db)), Column('id', INTEGER(), table=<Artist>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<Artist>, nullable=False), schema=None), 'Genre': Table('Genre', MetaData(bind=Engine(sqlite:///home.db)), Column('id', INTEGER(), table=<Genre>, primary_key=True, nullable=False), Column('name', VARCHAR(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=Engine(sqlite:///home.db)), Column('id', INTEGER(), table=<Track>, primary_key=True, nullable=False), Column('title', VARCHAR(), table=<Track>, nullable=False), Column('length', INTEGER(), table=<Track>, nullable=False), Column('rating', INTEGER(), table=<Track>, nullable=False), Column('count', INTEGER(), table=<Track>, nullable=False), Column('album_id', INTEGER(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', INTEGER(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [52]:
from sqlalchemy.ext.declarative import declarative_base

In [53]:
base = declarative_base()

In [54]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name='%s', fullname='%s',password='%s')'>"\
                % (self.name, self.fullname, self.password)

In [55]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [56]:
base.metadata.create_all(engine)

2019-07-10 00:19:25,496 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-10 00:19:25,499 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:19:25,501 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-10 00:19:25,503 INFO sqlalchemy.engine.base.Engine ()
2019-07-10 00:19:25,511 INFO sqlalchemy.engine.base.Engine COMMIT

-> Browser users table 생성

In [57]:
kim = User(name="kim", fullname="anonymous, Kim", password="kimbap heaven")

In [59]:
print(kim)

<T'User(name='kim', fullname='anonymous, Kim',password='kimbap heaven')'>

In [60]:
print(kim.id)

None

In [61]:
from sqlalchemy.orm import sessionmaker

In [62]:
Session = sessionmaker(bind=engine)

In [63]:
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///home.db), autoflush=True, autocommit=False, expire_on_commit=True)

In [64]:
session = Session()

In [65]:
session.add(kim)

In [66]:
session.add_all([
    User(name="lee", fullname="unknown, Lee", password="123456789a"),
    User(name="park", fullname="nobody, Park", password="Parking in Park")
])

In [67]:
kim.password = "password"

In [68]:
session.dirty

IdentitySet([])

In [69]:
session.is_modified(kim)

True

결론 : 천천히하면 된다....