In [ ]:
import sqlalchemy

In [7]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import create_engine

In [75]:
engine = create_engine("sqlite:///orm2.db",echo=True)

In [76]:
conn = engine.connect()

2019-07-09 14:21:15,954 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:21:15,954 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:21:15,956 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:21:15,956 INFO sqlalchemy.engine.base.Engine ()

In [40]:
print(engine)

Engine(sqlite:///orm2.db)

In [35]:
metadata.create_all(engine)

In [41]:
metadata = MetaData()

In [44]:
artist = Table("Artist", metadata,
            Column("id", Integer, primary_key=True),
            Column("name", String, nullable=False),
            extend_existing=True
              )
album = Table("Album", metadata,
            Column("id", Integer, primary_key=True),
            Column("title", String, nullable=False),
            Column("artist_id", Integer, ForeignKey("Artist.id")),
            extend_existing=True
              )
genre = Table("Genre", metadata,
            Column("id", Integer, primary_key=True),
            Column("name", String, nullable=False),
            extend_existing=True
              )
track = Table("Track", metadata,
            Column("id", Integer, primary_key=True),
            Column("title", String, nullable=False),
            Column("length", Integer, nullable=False),
            Column("rating", Integer, nullable=False),
            Column("count", Integer, nullable=False),
            Column("album_id", Integer, ForeignKey("Album.id")),
            Column("genre_id", Integer, ForeignKey("Genre.id")),
            extend_existing=True
              )

In [45]:
artist

Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None)

In [46]:
tables = metadata.tables
for table in tables:
    print(table)
# 메모리상 테이블명(meta data)

Artist
Album
Genre
Track

In [61]:
for table in engine.table_names():
    print(table)
# 디비 테이블 읽어 오기

2019-07-09 14:07:06,168 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:07:06,170 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track

In [ ]:
metadata.bind

In [56]:
metadata.create_all(engine)

2019-07-09 13:59:32,553 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 13:59:32,554 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,555 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 13:59:32,556 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,557 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 13:59:32,558 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,559 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 13:59:32,559 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,561 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:59:32,562 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,572 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:59:32,573 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 13:59:32,573 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,581 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:59:32,583 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 13:59:32,584 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,591 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 13:59:32,593 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 13:59:32,593 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 13:59:32,601 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
metadata.tables

immutabledict({'Artist': Table('Artist', MetaData(bind=None), Column('id', Integer(), table=<Artist>, primary_key=True, nullable=False), Column('name', String(), table=<Artist>, nullable=False), schema=None), 'Album': Table('Album', MetaData(bind=None), Column('id', Integer(), table=<Album>, primary_key=True, nullable=False), Column('title', String(), table=<Album>, nullable=False), Column('artist_id', Integer(), ForeignKey('Artist.id'), table=<Album>), schema=None), 'Genre': Table('Genre', MetaData(bind=None), Column('id', Integer(), table=<Genre>, primary_key=True, nullable=False), Column('name', String(), table=<Genre>, nullable=False), schema=None), 'Track': Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', Integer(), table=<Track>, nullable=False), Column('rating', Integer(), table=<Track>, nullable=False), Column('count', Integer(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)})

In [77]:
conn.execute(
    artist.insert(), [
        {"name":"Led Zepplin"},
        {"name":"AC/DC"}
    ])

conn.execute(
    album.insert(),[
        {"title":"IV", "artist_id":1},
        {"title":"Funxx YOu", "artist_id":2}
    ])

conn.execute(
    genre.insert(),[
        {"name":"Rock"},
        {"name":"Metal"}
    ])

conn.execute(
    track.insert(),[
        {"title":"a","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":1},
        {"title":"b","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":1},
        {"title":"c","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":2},
        {"title":"d","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":2}
    ])

2019-07-09 14:21:23,780 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 14:21:23,781 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 14:21:23,784 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:21:23,791 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 14:21:23,792 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Funxx YOu', 2))
2019-07-09 14:21:23,795 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:21:23,802 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 14:21:23,803 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 14:21:23,806 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:21:23,814 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 14:21:23,815 INFO sqlalchemy.engine.base.Engine (('a', 1, 1, 0, 1, 1), ('b', 1, 1, 0, 1, 1), ('c', 1, 1, 0, 1, 2), ('d', 1, 1, 0, 1, 2))
2019-07-09 14:21:23,817 INFO sqlalchemy.engine.base.Engine COMMIT

select

In [62]:
artistResult = conn.execute(artist.select())
for row in artistResult:
    print(row)

2019-07-09 14:10:00,179 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2019-07-09 14:10:00,181 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')
(3, 'Led Zepplin')
(4, 'AC/DC')
(5, 'Led Zepplin')
(6, 'AC/DC')

update

In [63]:
from sqlalchemy import update

숙제쓰~

join

In [ ]:
print(track.join(album).join(genre).join(artist))

In [67]:
from sqlalchemy import select

In [68]:
result = conn.execute(select([
        track.c.title, album.c.title, genre.c.name, artist.c.name
    ]).select_from(track.join(album).join(genre).join(artist))
)

2019-07-09 14:17:20,678 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:17:20,679 INFO sqlalchemy.engine.base.Engine ()

In [69]:
for row in result.fetchall():
    print(row)

('a', 'IV', 'Rock', 'Led Zepplin')
('b', 'IV', 'Rock', 'Led Zepplin')
('c', 'IV', 'Metal', 'Led Zepplin')
('d', 'IV', 'Metal', 'Led Zepplin')
('a', 'IV', 'Rock', 'Led Zepplin')
('b', 'IV', 'Rock', 'Led Zepplin')
('c', 'IV', 'Metal', 'Led Zepplin')
('d', 'IV', 'Metal', 'Led Zepplin')

In [78]:
conn.close()

In [79]:
metadata.clear()

In [80]:
conn.execute(
    artist.insert(), [
        {"name":"Led Zepplin"},
        {"name":"AC/DC"}
    ])

conn.execute(
    album.insert(),[
        {"title":"IV", "artist_id":1},
        {"title":"Funxx YOu", "artist_id":2}
    ])

conn.execute(
    genre.insert(),[
        {"name":"Rock"},
        {"name":"Metal"}
    ])

conn.execute(
    track.insert(),[
        {"title":"a","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":1},
        {"title":"b","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":1},
        {"title":"c","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":2},
        {"title":"d","rating":1,"length": 1,"count":0,"album_id":1,"genre_id":2}
    ])

StatementError: (sqlalchemy.exc.ResourceClosedError) This Connection is closed
[SQL: INSERT INTO "Artist" (name) VALUES (?)]
[parameters: [{'name': 'Led Zepplin'}, {'name': 'AC/DC'}]]

In [81]:
engine = create_engine("sqlite:///orm2.db",echo=True)

In [82]:
conn = engine.connect()

2019-07-09 14:23:32,187 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:23:32,188 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:32,190 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:23:32,191 INFO sqlalchemy.engine.base.Engine ()

In [83]:
metadata = MetaData(bind=engine, reflect=True)

2019-07-09 14:23:59,844 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:23:59,844 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,847 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:23:59,848 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,850 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:23:59,852 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,854 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2019-07-09 14:23:59,855 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,857 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:23:59,858 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,862 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:23:59,863 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,865 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:23:59,866 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,867 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2019-07-09 14:23:59,868 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,869 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:23:59,870 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,872 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:23:59,872 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,874 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2019-07-09 14:23:59,875 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,876 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2019-07-09 14:23:59,877 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,880 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:23:59,880 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,882 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2019-07-09 14:23:59,883 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,884 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2019-07-09 14:23:59,885 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,886 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:23:59,887 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,889 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:23:59,890 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,891 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2019-07-09 14:23:59,892 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,893 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:23:59,894 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,895 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:23:59,896 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,897 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2019-07-09 14:23:59,898 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,899 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2019-07-09 14:23:59,900 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,902 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:23:59,903 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,905 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:23:59,906 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,908 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2019-07-09 14:23:59,908 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,910 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:23:59,911 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,912 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:23:59,913 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,914 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2019-07-09 14:23:59,915 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:23:59,916 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2019-07-09 14:23:59,917 INFO sqlalchemy.engine.base.Engine ()

C:\Users\scminnoG15\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

In [84]:
metadata.reflect(bind=engine)

2019-07-09 14:24:47,455 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:24:47,456 INFO sqlalchemy.engine.base.Engine ()

In [88]:
tables = metadata.tables

In [90]:
for row in tables:
    print(row)

Album
Artist
Genre
Track