In [3]:
import requests
from bs4 import BeautifulSoup
import select
import sqlite3
import time
import selenium
from selenium import webdriver

In [4]:
driver = webdriver.Chrome()

In [5]:
con = sqlite3.connect("news.db")

In [6]:
cur = con.cursor()

In [7]:
cur.executescript("""
    CREATE TABLE table1(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        url TEXT NOT NULL
    );
    CREATE TABLE table2(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        table1_id INTEGER NOT NULL,
        content TEXT NOT NULL
    );
""")

In [8]:
driver.get("https://news.naver.com")

In [9]:
# main_content > div > .com_list li > a

In [10]:
for _ in driver.find_elements_by_css_selector("#main_content > div > .com_list li > a"):
    if len(_.get_attribute("href")) > 1:
        cur.execute("INSERT INTO table1(title, url) VALUES(?, ?)",[_.text, _.get_attribute("href")])
        con.commit()

--> Comprehension

In [19]:
[cur.execute("INSERT INTO table1(title, url) VALUES(?, ?)",[_.text, _.get_attribute("href")]) 
 for _ in driver.find_elements_by_css_selector("#main_content > div > .com_list li > a")
    if len(_.get_attribute("href")) > 1]

[<sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>,
 <sqlite3.Cursor at 0x1ad1e019c00>]

In [20]:
con.commit()

In [70]:
cur.execute("SELECT * FROM table1")

위 쿼리 insert는 왜 알아서 30개까지만 되지?-> 여러번하면 31번부터 60번, 61번부터 90번

_에 담긴 list를 초기화하려면 어떡하지?

In [57]:
for _ in cur.fetchall():
   #print(driver.get(_))   
    driver.get(_[2])
    
    cur.execute("INSERT INTO table2(table1_id, content) VALUES(?, ?)",
               [_[0], driver.find_element_by_css_selector("#articleBodyContents").text])
    con.commit()

-> Comprehension

In [ ]:
[cur.execut"INSERT INTO table2(table1_id, content) VALUES(?,?)",
            [_[0],driver.find_element_by_css_selector("#articleBodyContents").text]) 
 for _ in [row for row in cur.fetchall()]]
# 람다쓰로 한번

In [73]:
insertlist = [lambda x: ("INSERT INTO table2(table1_id) VALUES("+x[0]+")",x[2])
 for x in [row for row in cur.fetchall()]]

In [74]:
insertlist

[<function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>,
 <function __main__.<listcomp>.<lambda>(x)>]

In [72]:
[driver.get(_[1]) for _ in insertlist]

TypeError: 'function' object is not subscriptable

In [52]:
con.commit()

In [42]:
[row for row in cur.fetchall()]

[(31,
  '돌아온 홍영표 "다음주부터 정개특위 가동…원안 고집 안해"',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=079&aid=0003250307'),
 (32,
  '단식 조롱, 바른미래당 내홍 격화 “손학규 주변인 도 넘은 비난”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=005&aid=0001219694'),
 (33,
  '文지지율 50%대 회복…대일 강경모드 효과?',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=079&aid=0003250304'),
 (34,
  '중재위 오늘 시한…日 언론 “韓정부 불응에 타개책 안 보여”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=374&aid=0000189254'),
 (35,
  "이인영 '결자해지론'에 정개특위 위원장 수락한 홍영표",
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=025&aid=0002923185'),
 (36,
  '금융당국 “외화보험 주의해야…환율 따라 보험금도 변동”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=374&aid=0000189264'),
 (37,
  '한국 온 유학생 ‘사상 최대’…한국인 유학 붐은 감소',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=469&aid=0000406521'),
 (38,
  '‘화재가능성 발견’ 현대차 제네시스 등 12개 차종 리콜',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=374&aid=0000189260'),
 (39,
  '지난해 국내 입국 외국인 수 역대 최대... 중국·태국·베트남인 절반 이상',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=014&aid=0004263563'),
 (40,
  '대전 유일 수소충전소 엿새째 멈춰…수소차 운전자 불편',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=001&aid=0010962581'),
 (41,
  '떠나는 검사장들 ‘윤석열 검찰’에 쓴소리 쏟아내',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=021&aid=0002397332'),
 (42,
  '시민단체 "경찰 정보국 폐지하라"…靑에 서한 전달',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=003&aid=0009351418'),
 (43,
  '"고유정 밥 잘먹고 인사도 잘해…TV에 얼굴 나오면 부담스러워해"',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=421&aid=0004100550'),
 (44,
  '이순자 "연희동 자택 내 명의, 매각 무효"…자산공사 "불법재산"',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=421&aid=0004100547'),
 (45,
  "최순실, 구치소 목욕탕서 '꽈당'…이마 30바늘 봉합",
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=003&aid=0009351417'),
 (46,
  '아차車｜주차해둔 차를 누군가 긁고 도망가 버렸습니다',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=015&aid=0004177887'),
 (47,
  '양현석 ‘성매매 알선’ 혐의…경찰, 공소시효와 전쟁',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=016&aid=0001559294'),
 (48,
  '아직도 일본 여행 꿈꾸십니까?',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=003&aid=0009350993'),
 (49,
  "[클릭!이 차]르노삼성 '더 뉴 QM6' 돌풍…한 달 만에 '4400대' 팔렸다",
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=030&aid=0002829778'),
 (50,
  '美 인구 20% 넘는 7천만에 열파 주의보…피닉스 최고기온 46℃',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=001&aid=0010962077'),
 (51,
  '"日정부, \'중재위\' 기한인 오늘까지는 일단 기다려"…한국 압박 계속할 듯',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=079&aid=0003250282'),
 (52,
  '“여행 취소, 큰 변화 없다” 일본관광청은 밝혔지만 실제는…',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=469&aid=0000406509'),
 (53,
  '유리병에 넣어 호주 바다에 띄운 편지, 50년만에 주인에게로',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=001&aid=0010962413'),
 (54,
  '日언론 “수출 규제, 日기업에 부메랑으로 돌아올 것”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=056&aid=0010723298'),
 (55,
  '왕관 던지고 사랑 택했던 말레이 국왕 1년만에 이혼… 왜?',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=469&aid=0000406503'),
 (56,
  '넷플릭스, 美 가입자 8년만에 감소',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=031&aid=0000501482'),
 (57,
  '"보안 담당자도 당한다" 무심코 열어본 이메일에 \'기밀 유출\'',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=469&aid=0000406508'),
 (58,
  '렌터카 불허로 위기 몰린 타다…"계속 달린다"',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=277&aid=0004503718'),
 (59,
  '삼성SDS, ‘직원 비리’ 기소 뒤 공공입찰 참여…업계 “부적절”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002461476'),
 (60,
  '삼성전자 "역대 최고속도 12Gb 모바일 D램 세계최초 양산"',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=079&aid=0003250261'),
 (61,
  '돌아온 홍영표 "다음주부터 정개특위 가동…원안 고집 안해"',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=079&aid=0003250307'),
 (62,
  '단식 조롱, 바른미래당 내홍 격화 “손학규 주변인 도 넘은 비난”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=005&aid=0001219694'),
 (63,
  '文지지율 50%대 회복…대일 강경모드 효과?',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=079&aid=0003250304'),
 (64,
  '중재위 오늘 시한…日 언론 “韓정부 불응에 타개책 안 보여”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=374&aid=0000189254'),
 (65,
  "이인영 '결자해지론'에 정개특위 위원장 수락한 홍영표",
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=025&aid=0002923185'),
 (66,
  '금융당국 “외화보험 주의해야…환율 따라 보험금도 변동”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=374&aid=0000189264'),
 (67,
  '한국 온 유학생 ‘사상 최대’…한국인 유학 붐은 감소',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=469&aid=0000406521'),
 (68,
  '‘화재가능성 발견’ 현대차 제네시스 등 12개 차종 리콜',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=374&aid=0000189260'),
 (69,
  '지난해 국내 입국 외국인 수 역대 최대... 중국·태국·베트남인 절반 이상',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=014&aid=0004263563'),
 (70,
  '대전 유일 수소충전소 엿새째 멈춰…수소차 운전자 불편',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=101&oid=001&aid=0010962581'),
 (71,
  '떠나는 검사장들 ‘윤석열 검찰’에 쓴소리 쏟아내',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=021&aid=0002397332'),
 (72,
  '시민단체 "경찰 정보국 폐지하라"…靑에 서한 전달',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=003&aid=0009351418'),
 (73,
  '"고유정 밥 잘먹고 인사도 잘해…TV에 얼굴 나오면 부담스러워해"',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=421&aid=0004100550'),
 (74,
  '이순자 "연희동 자택 내 명의, 매각 무효"…자산공사 "불법재산"',
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=421&aid=0004100547'),
 (75,
  "최순실, 구치소 목욕탕서 '꽈당'…이마 30바늘 봉합",
  'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=102&oid=003&aid=0009351417'),
 (76,
  '아차車｜주차해둔 차를 누군가 긁고 도망가 버렸습니다',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=015&aid=0004177887'),
 (77,
  '양현석 ‘성매매 알선’ 혐의…경찰, 공소시효와 전쟁',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=016&aid=0001559294'),
 (78,
  '아직도 일본 여행 꿈꾸십니까?',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=003&aid=0009350993'),
 (79,
  "[클릭!이 차]르노삼성 '더 뉴 QM6' 돌풍…한 달 만에 '4400대' 팔렸다",
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=030&aid=0002829778'),
 (80,
  '美 인구 20% 넘는 7천만에 열파 주의보…피닉스 최고기온 46℃',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=103&oid=001&aid=0010962077'),
 (81,
  '"日정부, \'중재위\' 기한인 오늘까지는 일단 기다려"…한국 압박 계속할 듯',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=079&aid=0003250282'),
 (82,
  '“여행 취소, 큰 변화 없다” 일본관광청은 밝혔지만 실제는…',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=469&aid=0000406509'),
 (83,
  '유리병에 넣어 호주 바다에 띄운 편지, 50년만에 주인에게로',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=001&aid=0010962413'),
 (84,
  '日언론 “수출 규제, 日기업에 부메랑으로 돌아올 것”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=056&aid=0010723298'),
 (85,
  '왕관 던지고 사랑 택했던 말레이 국왕 1년만에 이혼… 왜?',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=104&oid=469&aid=0000406503'),
 (86,
  '넷플릭스, 美 가입자 8년만에 감소',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=031&aid=0000501482'),
 (87,
  '"보안 담당자도 당한다" 무심코 열어본 이메일에 \'기밀 유출\'',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=469&aid=0000406508'),
 (88,
  '렌터카 불허로 위기 몰린 타다…"계속 달린다"',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=277&aid=0004503718'),
 (89,
  '삼성SDS, ‘직원 비리’ 기소 뒤 공공입찰 참여…업계 “부적절”',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002461476'),
 (90,
  '삼성전자 "역대 최고속도 12Gb 모바일 D램 세계최초 양산"',
  'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=079&aid=0003250261')]

---

linked in - out scraping

In [ ]:
for _ in [_ for _ in driver.find_elements_by_css_selector("#main_content > div > .com_list li > a")
         if len(_.get_attribute("href")) > 1]:
    news = (_.text, _.get_attribute("href"))
    
    cur.execute("INSERT INTO table1(title, url) VALUES(?,?)",[news[0], news[1]])
    con.commit()
    
    cur.execute("SELECT id FROM table1 WHERE url=?", [news[1]])
    newsID = cur.fetchone()[0]
    
    driver.execute_script("window.open('about:blank');")
    driver.execute_script("console.log('%$');" % news[0].replace('\'','\"'))
    
    driver.switch_to_window(driver.window_handles[-1])
    driver.get(news[1])
    
    cur.execute("INSERT INTO table2(table1_id, content) VALUES(?, ?)",
                [newsID, driver.find_element_by_css_selector("#articleBodyContents").text])
    con.commit()
    
    driver.close()
    driver.switch_to_window(driver.window_handles[0])
    
driver.close()