In [10]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [4]:
sqlite3.sqlite_version

'3.27.2'

In [5]:
sqlite3.sqlite_version_info

(3, 27, 2)

In [5]:
conn = sqlite3.connect('C:\Users\scminnoG15\jupyter-note\python\data\untitled.txt' or ':memory')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-5-963d4a274e55>, line 1)

In [157]:
conn = sqlite3.connect('untitled.txt')

In [158]:
cur = conn.cursor()

connect객체에 있는 cursor는 쓰지말자. 임의로 만듬

In [125]:
type(cur)

sqlite3.Cursor

In [126]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

execute문 -> sql문

executemany -> 하나의 sql문의 여러줄을 시퀀셔널하게 사용할 때

executescrip -> 여러개의 sql문을 실행할 때

In [16]:
cur.execute('select sqlite_version()')

In [17]:
cur.fetchall()

[('3.27.2',)]

execute - fetch 의 반복

In [21]:
sqlite3.complete_statement('select sqlite_version()')
# sql 구문이 올바른지 체크하는 함수.

False

In [22]:
sqlite3.complete_statement('select sqlite_version();')

True

In [23]:
cur.execute("create table people (name_last, age)")

In [44]:
who = "Yeltsin"
age = 72

In [45]:
cur.execute("insert into people values (?, ?)",(who, age))

In [46]:
conn.commit()

In [47]:
cur.execute("select * from people where name_last=:who and age=:age",{"who":who, "age":age})
# named style

In [48]:
print(cur.fetchone())

('Yeltsin', 72)

In [127]:
sql = "insert into people values (?, ?)"
curData = [('A',1),('B',2),('C',3)]

In [128]:
cur.executemany(sql, curData)

In [129]:
conn.commit()

In [130]:
print(cur.fetchall())
# ?

[]

In [131]:
# named style
cur.execute("""
select * 
from people 
where name_last=:who and age=:age"""
            ,{"who":'Yeltsin', "age":72})

In [132]:
cur.fetchone()

('Yeltsin', 72)

In [116]:
data = [("A",1), ("B",1),("C",1)]
cur.executemany("insert into people values(?, ?)", data)

In [111]:
conn.commit()

In [117]:
cur.execute("select * from people")

In [118]:
cur.fetchone()

('Yeltsin', 72)

In [119]:
cur.executescript("""
    create table person(
    name_last text primary key,
    last_name text not null
    );
    insert into person values('name','kim')
""")

In [120]:
cur.fetchall()

[('A', 1),
 ('B', 2),
 ('C', 3),
 ('Yeltsin', 72),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 1),
 ('C', 1),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 1),
 ('C', 1),
 ('A', 1),
 ('B', 1),
 ('C', 1),
 ('A', 1),
 ('B', 1),
 ('C', 1)]

In [172]:
cur.executescript("""
    CREATE table company(
    id int PRIMARY KEY not null,
    name TEXT not null,
    age int not null,
    address char(50),
    salary REAL);
""")

In [ ]:
cur.executescript("""
    insert into company(id,name,age,address,salary)
VALUES(1,'Paul', 32,'California',20000.00);
""")

In [174]:
cur.executescript("""
insert into company (id,name,age,address,salary)
VALUES(2,'Akkeb', 25,'Texa',15000.00);
""")

In [175]:
cur.fetchall()

[]

In [186]:
cur.executescript("""
    select * from company
""")

In [188]:
cur.fetchone()

In [180]:
cur.lastrowid

In [177]:
conn.commit()

In [179]:
cur.fetchall()

[]

In [181]:
data = [(3,'Teddy', 23, 'Norway',20000.00),
       (4, 'Mark', 25, 'Rich-Mond', 65000.00)]

In [182]:
conn.executemany("Insert into company (id,name,age,address,salary) values(?,?,?,?,?)", data)

In [144]:
cur.fetchall()

[]

In [183]:
conn.commit()

In [201]:
cursor = conn.execute("select * from company")

for row in cursor:
    print("ID = ",row[0])
    print("NAME = ",row[1])
    print("ADDRESS = ",row[2])
    print("SALARY = ",row[3], end='\n\n')

ID =  1
NAME =  Paul
ADDRESS =  32
SALARY =  California

ID =  3
NAME =  Teddy
ADDRESS =  23
SALARY =  Norway

ID =  4
NAME =  Mark
ADDRESS =  25
SALARY =  Rich-Mond

In [204]:
conn = sqlite3.connect('untitled.txt')

In [205]:
cur = conn.cursor()

In [206]:
print(cur.lastrowid)

None

함수마다 commit시점이 다르다.

In [207]:
cur.executescript("""
    drop table company
""")

In [208]:
cur.execute('select * from company')

OperationalError: no such table: company

In [191]:
for row in cur:
    print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Akkeb', 25, 'Texa', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond', 65000.0)

In [192]:
cur.lastrowid

4

In [198]:
cur.execute("update company set salary = 30000.00 where id =:id",{'id':1})

In [199]:
conn.commit()

In [200]:
cur.execute("delete from company where id = 2;")

In [202]:
cursor = conn.execute("select * from company")

for row in cursor:
    print("ID = ",row[0])
    print("NAME = ",row[1])
    print("ADDRESS = ",row[2])
    print("SALARY = ",row[3], end='\n\n')

ID =  1
NAME =  Paul
ADDRESS =  32
SALARY =  California

ID =  3
NAME =  Teddy
ADDRESS =  23
SALARY =  Norway

ID =  4
NAME =  Mark
ADDRESS =  25
SALARY =  Rich-Mond

In [ ]:
conn.close()

In [ ]:
cur.execute("""
insert into Artist (id,name) VALUES 
    (2,'b')
""")

In [ ]:
cur.execute("""
insert into Genre (id,name) VALUES 
    (2,'b')
""")

In [218]:
conn.commit()

In [239]:
# test
cur.execute("""
    insert into Album (title, artist_id) VALUES 
    ('c',(select id from Artist where name='a'))
""")

In [242]:
cur.execute("""
insert into Album (title, artist_id) VALUES 
    (:album, 
    (select id 
    from Artist where name=:artist))
""",{"album":"b","artist":"b"})

In [243]:
conn.commit()

In [245]:
cur.execute("""
    select Album.title, Artist.name 
from Album
join Artist on
Album.artist_id = Artist.id;
""")

cur.fetchall()

[('c', 'a'), ('a', 'a'), ('b', 'b')]

In [248]:
cur.execute("""
    select Album.title, Artist.name 
from Album
left join Artist on
Album.artist_id = Artist.id;
""")

cur.fetchall()

[('c', 'a'), ('a', 'a'), ('b', 'b')]

장바구니분석때

장바구니 정보는 있으면 좋지만 없을 수 도있다. -> left join

In [247]:
cur.execute("""
    select Album.title, Artist.name 
from Album
right join Artist on
Album.artist_id = Artist.id;
""")

cur.fetchall()

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [250]:
cur.execute("""
select Track.title, Genre.name 
from Track
join Genre on
Track.genre_id = Genre.id;
""")

cur.fetchall()
# 귀찮아서 안넣음

[]