data type

# 정수(int)타입

In [1]:
a = 365

In [2]:
print(a)

365

In [3]:
#2진수

In [4]:
b = 0b101101101

In [5]:
print(b)

365

In [6]:
#8진수

In [7]:
c = 0o555

In [8]:
print(c)

365

In [9]:
#16진수

In [10]:
d = 0x16d

In [11]:
print(d)

365

In [12]:
# 실수(float)타입

In [13]:
fa = 3.14

In [14]:
print(fa)

3.14

In [15]:
fb = -3.14

In [16]:
print(fb)

-3.14

In [17]:
fc = 3.1415e2

In [18]:
print(fc) 
# 컴퓨터식 자수표현 x10^2 = 100

314.15

In [19]:
fd = 3.1415e-2

In [20]:
print(fd)

0.031415

In [21]:
# 복소수(Complex) 타입

In [22]:
a = 6 + 4j

In [23]:
print(a)

(6+4j)

In [24]:
b = complex(6,4)

In [25]:
print(b)

(6+4j)

In [26]:
a.real

6.0

In [27]:
a.imag

4.0

In [1]:
# Boolean 타입

In [2]:
ba = True

In [3]:
bb = False

In [5]:
ba and bb

False

In [6]:
6 == 6

True

In [9]:
4 > 6

False

In [8]:
4 < 6

True

In [10]:
bool("ABC")

True

In [11]:
bool("")

False

In [12]:
bool({})

False

In [13]:
bool([])

False

In [15]:
bool()

False

In [16]:
# 문자열

In [17]:
sa = 'Hello World'

In [18]:
print(sa)

Hello World

In [19]:
db = "one way of writing a string"

In [20]:
print(db)

one way of writing a string

In [21]:
b = "Tom's favorite food is pizza"

In [22]:
print(b)

Tom's favorite food is pizza

In [23]:
c = "You are ringht."I said

SyntaxError: invalid syntax (<ipython-input-23-753be7a85a7b>, line 1)

In [24]:
print(c)

NameError: name 'c' is not defined

In [25]:
d = '"You are rifght."I said.'

In [26]:
print(d)

"You are rifght."I said.

In [29]:
e='Tom\'s favorite foood is pizza'

In [30]:
print(e)

Tom's favorite foood is pizza

In [31]:
s = '12\n34' # 문자열 타입

In [32]:
print(s)

12
34

In [34]:
sd = '
This is a longer string that 
spans multiple lines
'

SyntaxError: EOL while scanning string literal (<ipython-input-34-accf19100c6c>, line 1)

In [36]:
se='''
This is a longer string that
spans multiple lines
'''

In [37]:
print(se)

This is a longer string that
spans multiple lines

In [38]:
se=r'this\has\no\special\characters'

In [39]:
print(se)

this\has\no\special\characters

In [40]:
a='='

In [41]:
print(a*50)

==================================================

In [42]:
# 문자열 인덱싱

In [43]:
a = 'this is a string'

In [44]:
print(a[2])

i

In [45]:
print(a[0])

t

In [46]:
print(a[-1])

g

In [48]:
print(a[-0])

t

In [49]:
# Slicing

In [50]:
b = "20010331Rainy"

In [52]:
print(b[:8]) # = print(b[0:8])

20010331

In [53]:
print(b[:-5])

20010331

In [54]:
# 문자열 수정

In [55]:
a = 'thiis is a string'

In [56]:
a[10:] = 'rope'

TypeError: 'str' object does not support item assignment

In [57]:
b = 'rope'

In [58]:
a[:10]+b

'thiis is arope'

In [59]:
c = a.replace('string','rope')

In [60]:
c

'thiis is a rope'

In [61]:
# 문자열 format

In [62]:
"i have %d children" %3

'i have 3 children'

In [64]:
"i have %s children" %"three"

'i have three children'

In [65]:
e = 3

In [66]:
"i have %d children." %e

'i have 3 children.'

In [67]:
"i have %d children. i don't have time %s day" %(3,"all")

"i have 3 children. i don't have time all day"

In [68]:
# %s, %c, %d, %f, %o, %x

In [72]:
"this is %s% True" %100

TypeError: not enough arguments for format string

In [73]:
"this is %s%% True" %100

'this is 100% True'

In [74]:
"%10s"%"Good"

'      Good'

In [75]:
"%-10s"%"Good"

'Good      '

In [78]:
"%0.5f" %3.141592

'3.14159'

In [79]:
"%20.5f" %3.141592

'             3.14159'

In [82]:
"i have {0} children" .format(3)

'i have 3 children'

In [83]:
"i have {0} children".format("three")

'i have three children'

In [84]:
g=3

In [85]:
"i have {0} children".format(g)

'i have 3 children'

In [86]:
"i have {0} children.i don't have time {1} day.".format(3,"all")

"i have 3 children.i don't have time all day."

In [88]:
"i have {a} children. i don't have time {b} day.".format(a=3, b=2) 
#{문자열}은 숫자만 가능

"i have 3 children. i don't have time 2 day."

In [89]:
"{0:<20}".format("good")

'good                '

In [90]:
"{0:>20}".format("good")

'                good'

In [91]:
"{0:^20}".format("good")

'        good        '

In [92]:
"{0:*^20}".format("good")

'********good********'

In [93]:
"{0:@<20}".format("good")

'good@@@@@@@@@@@@@@@@'

In [95]:
'{0:.2f}{1} are worth US{2}'.format(4.5560,'Argentine Pesos',1)

'4.56Argentine Pesos are worth US1'

In [96]:
'{{우리집}}에 {0} 놀러와요'.format(' 자주')

'{우리집}에  자주 놀러와요'

In [98]:
# f 문자열 format

In [99]:
a = 3

In [100]:
b = 'all"'

In [101]:
f"i have {a} children. i don't have time {b} day"

'i have 3 children. i don\'t have time all" day'

In [103]:
f"i have {a+2} children.i don't have time {b} day."

'i have 5 children.i don\'t have time all" day.'

In [106]:
f'{"good":<20}' #"{0:<20}.format("good")"

'good                '

In [107]:
f'{"good":>20}' #"{0:^20}".format("good")

'                good'

In [109]:
f'{"good":^20}' #"{0:^20}".format("good")

'        good        '

In [120]:
f'{"good":\'^20}' #"{0:*^20}".format("good")

"''''''''good''''''''"

In [111]:
c=3.141592

In [112]:
f'{c:0.2f}'

'3.14'

In [113]:
f'{c:20.2f}'

'                3.14'

In [121]:
# 문자열 내장함수

In [122]:
a = "Korean culture"

In [123]:
a.count('U')

0

In [125]:
a.find('u')

8

In [126]:
a.find('k')

-1

In [127]:
a.find('K')

0

In [128]:
a.index('u')

8

In [129]:
a.index('k')

ValueError: substring not found

In [130]:
",".join('korean culture')

'k,o,r,e,a,n, ,c,u,l,t,u,r,e'

In [133]:
",".join('123456789')

'1,2,3,4,5,6,7,8,9'

In [134]:
a.upper()

'KOREAN CULTURE'

In [135]:
a.lower()

'korean culture'

In [141]:
b = '   Korean culture       '

In [142]:
b.strip()

'Korean culture'

In [143]:
b.lstrip()

'Korean culture       '

In [144]:
b.rstrip()

'   Korean culture'

In [145]:
a.replace("Korean","American")

'American culture'

In [146]:
a.split()

['Korean', 'culture']

In [147]:
c = "Korean & American"

In [148]:
c.split("&")

['Korean ', ' American']

In [149]:
# 리스트(List) 타입

In [150]:
a = [] # a = list()

In [151]:
b = [1,2,3,4,5]

In [152]:
c = ['red','blue','yellow']

In [153]:
d = [1,2,'red','blue']

In [154]:
e = [1,2,['red','blue']]

In [155]:
print(b)

[1, 2, 3, 4, 5]

In [156]:
# #인덱싱

In [157]:
b[0]

1

In [158]:
b[0]+b[2]

4

In [159]:
b[-1]

5

In [160]:
a = [1,2,3,4,5,['a','b','c','d'],7,8,9]

In [161]:
a[5]

['a', 'b', 'c', 'd']

In [162]:
a[5][2]

'c'

In [163]:
#슬라이스

In [164]:
b=[1,2,3,4,5]

In [165]:
b[0:4]

[1, 2, 3, 4]

In [166]:
c = "12345"

In [167]:
c[0:4]

'1234'

In [168]:
b[:3]

[1, 2, 3]

In [169]:
a = [1,2,3,4,5,['a','b','c','d'],7,8,9]

In [170]:
a[0:6]

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd']]

In [172]:
a[0:6:1]

[1, 2, 3, 4, 5, ['a', 'b', 'c', 'd']]

In [173]:
a[0:6:2]

[1, 3, 5]

In [174]:
a[0:6:3]

[1, 4]

In [175]:
a[0:6:4]

[1, 5]

In [176]:
a[0:6:5]

[1, ['a', 'b', 'c', 'd']]

In [177]:
a[0:6:6]

[1]

In [178]:
a[5]

['a', 'b', 'c', 'd']

In [179]:
a[5][:2]

['a', 'b']

In [180]:
#연산

In [181]:
a = [1,2,3,4]

In [182]:
b = [6,7,8,9]

In [183]:
a+b

[1, 2, 3, 4, 6, 7, 8, 9]

In [185]:
a*2 #반복

[1, 2, 3, 4, 1, 2, 3, 4]

In [187]:
len(a)

4

In [188]:
k = [12345678]

In [189]:
len(k)

1

In [190]:
m = '12345678'

In [191]:
len(m)

8

In [192]:
c = 'good'

In [194]:
b+c  #타입이 다르면 연산을 할 수 없다.

TypeError: can only concatenate list (not "str") to list

In [195]:
c = ['good']

In [196]:
b+c

[6, 7, 8, 9, 'good']

In [197]:
a[3]

4

In [198]:
a[3] = 9

In [199]:
a[3]

9

In [200]:
print(a)

[1, 2, 3, 9]

In [201]:
n = '1234'

In [205]:
n[3]

'4'

In [212]:
n[3] = '9'

TypeError: 'str' object does not support item assignment

In [207]:
#function

In [213]:
a = [1,2,3,4,[a,b,c]]

In [214]:
b = [6,7,8,9]

In [215]:
len(a)

5

In [216]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [217]:
sum(b)

30

In [218]:
max(b)

9

In [219]:
min(b)

6

In [222]:
del(b[0]) # del b[0]

In [223]:
print(b)

[8, 9]

In [224]:
b = [6,7,8,9]

In [225]:
del b[:3]

In [226]:
print(b)

[9]

In [227]:
str(b[0]) # 숫자형 -> 문자형

'9'

In [228]:
b = ['6','7','8','9']

In [229]:
b.append('10')

In [230]:
print(b)

['6', '7', '8', '9', '10']

In [231]:
b.append(['11','12'])

In [232]:
print(b)

['6', '7', '8', '9', '10', ['11', '12']]

In [233]:
c = ['6','9','8','7']

In [234]:
print(c)

['6', '9', '8', '7']

In [235]:
c.sort()

In [236]:
print(c)

['6', '7', '8', '9']

In [237]:
d = ['x','z','y']

In [238]:
d.sort()

In [239]:
print(d)

['x', 'y', 'z']

In [240]:
c = ['6','9','8','7']

In [241]:
c.reverse()

In [242]:
print(c)

['7', '8', '9', '6']

In [243]:
c.index('9')

2

In [244]:
c.insert(4,'10')

In [245]:
print(c)

['7', '8', '9', '6', '10']

In [246]:
c.insert(0,'5')

In [247]:
print(c)

['5', '7', '8', '9', '6', '10']

In [259]:
e = ['3','4','3','4','5']

In [249]:
e.remove('4')

In [250]:
print(e)

['3', '3', '4', '5']

In [251]:
e.remove('4')

In [258]:
print(e)

['3']

In [260]:
e.pop() #리스트의 마지막요소를 보여주고 삭제한다

'5'

In [261]:
print(e)

['3', '4', '3', '4']

In [262]:
e.pop(1)

'4'

In [263]:
c = [6,6,6,6,6,7,8,9]

In [264]:
c.count(6)

5

In [265]:
c.count(5)

0

In [270]:
c.extend([4,5]) # list요소만 사용할 수 있다 != c.append([4,5])

In [268]:
print(c)

[6, 6, 6, 6, 6, 7, 8, 9, 4, 5, 4, 5]

In [269]:
#[6,6,6,6,7,8,9,[4,5]] append 사용 시

### 튜플(Tuple) 타입

In [273]:
# 튜플의 생성 튜플은 수정 불가능

In [274]:
a = tuple()  # a = list(), a = []

In [275]:
a = ()

In [276]:
type(a)

tuple

In [277]:
b = (1,)

In [278]:
type(b)

tuple

In [279]:
c = (1,2,3)

In [281]:
type(c)

tuple

In [282]:
d = 1,2,3 #packing & unpacking

In [283]:
type(d)

tuple

In [284]:
e = (1,2,('ab','cd'),3,4)

In [285]:
type(e)

tuple

In [286]:
# 튜플은 수정 및 변경 불가

In [287]:
e[0]

1

In [288]:
del e[0]

TypeError: 'tuple' object doesn't support item deletion

In [289]:
e.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [290]:
e.pop(0)

AttributeError: 'tuple' object has no attribute 'pop'

In [291]:
e[:]

(1, 2, ('ab', 'cd'), 3, 4)

In [292]:
c + e

(1, 2, 3, 1, 2, ('ab', 'cd'), 3, 4)

In [293]:
c * 2

(1, 2, 3, 1, 2, 3)

In [294]:
len(c)

3

In [296]:
x,y,z = (1,2,3)

In [297]:
print(x,y,z)

1 2 3

In [298]:
print(x)

1

In [299]:
print(y)

2

In [300]:
print(z)

3

### Dictionary 타입

In [302]:
# Dic 사전의 생성
# {key1:value1, key2:value2, ...}

In [303]:
a = {'gender':'Female','age':30,'name':'Kristina'}

In [304]:
type(a)

dict

In [305]:
a['gender']

'Female'

In [306]:
a['age']

30

In [307]:
a['name']

'Kristina'

In [309]:
a['Kristina'] # key값만으로만 인덱싱할 수 있다

KeyError: 'Kristina'

In [310]:
a[0] # index 순서x

KeyError: 0

In [311]:
b = {1:'good'}

In [312]:
print(b)

{1: 'good'}

In [315]:
c = {'a':[1,3,5]}

In [316]:
print(c)

{'a': [1, 3, 5]}

In [317]:
c = {[1,3,5]:'a'}

TypeError: unhashable type: 'list'

In [319]:
d = {(1,3,5):'a'}

In [320]:
print(d)

{(1, 3, 5): 'a'}

In [321]:
# 사전의 추가

In [323]:
a = {'gender':'Female'}

In [324]:
a['age'] = 30

In [325]:
print(a)

{'gender': 'Female', 'age': 30}

In [326]:
a['none'] = 'Kristina'

In [327]:
print(a)

{'gender': 'Female', 'age': 30, 'none': 'Kristina'}

In [328]:
a['a'] = [1,3,5]

In [329]:
print(a)

{'gender': 'Female', 'age': 30, 'none': 'Kristina', 'a': [1, 3, 5]}

In [330]:
# 사전의 삭제

In [331]:
del a['a']

In [332]:
print(a)

{'gender': 'Female', 'age': 30, 'none': 'Kristina'}

In [334]:
del a['none']

In [336]:
print(a)

{'gender': 'Female', 'age': 30}

In [337]:
# 사전(dic)의 장점
# {'학생A':99, '학생B':91,'학생C':83,'학생D':100}

In [338]:
result = {'학생A':99, '학생B':91,'학생C':83,'학생D':100}

In [339]:
result['학생A']

99

In [340]:
result['학생B']

91

In [341]:
a = [1,2,3]

In [343]:
a[1] # 1은 두번쨰 요소, a[자리수]

2

In [344]:
a = {'gender':'Female','age':30}

In [345]:
a[1] # 1은 key 값, a[key]

KeyError: 1

In [346]:
# 중복 key 값

In [347]:
a = {'fuel':'gasoline','fuel':'diesel'}

In [348]:
print(a)

{'fuel': 'diesel'}

In [349]:
a = {'fuel':'gasoline','fuel':'disel','fuel':'LPG'}

In [351]:
print(a) # 중복키 허용안됨

{'fuel': 'LPG'}

In [352]:
# 사전 함수

In [362]:
a = {'gender':'Female','age':30,'name':'Kristina'}

In [355]:
a.keys()

dict_keys(['gender', 'age', 'name'])

In [357]:
list(a.keys())

['gender', 'age', 'name']

In [358]:
a.values()

dict_values(['Female', 30, 'Kristina'])

In [359]:
a.items()

dict_items([('gender', 'Female'), ('age', 30), ('name', 'Kristina')])

In [360]:
a.clear()

In [361]:
print(a)

{}

In [363]:
a = {'gender':'Female','age':30,'name':'Kristina'}

In [365]:
a.get('gender') # a['gender']

'Female'

In [367]:
a.get('height','?') # key값이없을때 '?'가 default로 입력

'?'

In [368]:
'gender' in a

True

In [369]:
'height' in a

False

In [370]:
# 집합의 생성

In [371]:
a = set([1,2,3,4,5])

In [372]:
print(a)

{1, 2, 3, 4, 5}

In [374]:
type({1,2,3,4,5})

set

In [375]:
type((1,2,3,4,5))

tuple

In [376]:
type([1,2,3,4,5])

list

In [378]:
type({1:2,3:4,5:6})

dict

In [379]:
b = set('Kristina')

In [380]:
b

{'K', 'a', 'i', 'n', 'r', 's', 't'}

In [381]:
# 중복 허용 안됨
# 순서가 없음

In [382]:
b[1]

TypeError: 'set' object is not subscriptable

In [383]:
c = list(b)

In [384]:
c

['n', 'K', 'a', 's', 'r', 'i', 't']

In [385]:
c[1]

'K'

### 집합(set)타입

In [386]:
# 교집합, 합집합, 차집합

In [387]:
x = {1,2,3,4,5}

In [388]:
y = {3,4,5,6,7}

In [389]:
x & y #교집합

{3, 4, 5}

In [390]:
x.intersection(y)

{3, 4, 5}

In [391]:
x | y # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [392]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7}

In [393]:
x - y # 차집합

{1, 2}

In [394]:
y - x

{6, 7}

In [395]:
x.difference(y)

{1, 2}

In [396]:
x^y # 대칭 차집합

{1, 2, 6, 7}

In [397]:
(x-y)|(y-x)

{1, 2, 6, 7}

In [398]:
x.add(10)

In [399]:
print(x)

{1, 2, 3, 4, 5, 10}

In [400]:
x.update([11,12,13])

In [401]:
print(x)

{1, 2, 3, 4, 5, 10, 11, 12, 13}

In [402]:
x.remove(13)