### IF 문

In [1]:
a = 1000

In [4]:
if a > 5000:
    print('택시를 탑니다')
else:
    print('버스를 타야 합니다')

버스를 타야 합니다

In [5]:
grade = float(input('충 평점을 입력해 주세요.'))
if grade >= 4.3 :
    print('당신은 장학금 수여 대상자입니다.')
    print('축하합니다.')

충 평점을 입력해 주세요.4.4
당신은 장학금 수여 대상자입니다.
축하합니다.

In [7]:
score = int(input('점수를 입력하시오.'))

if score >= 70:
    print('당신은 시험을 통과했습니다.')
else:
    print('당신은 시험을 통과하지 못했습니다')

점수를 입력하시오.60
당신은 시험을 통과하지 못했습니다

In [8]:
# if
# elif
# else

### For, While 문

In [9]:
# for 변수 in 리스트(튜플, 문자열):
# 실행문장1
# 실행문장2

In [10]:
for a in [1,2,3]:
    print(a)

1
2
3

In [11]:
for a in [(1,3),(5,7),9]:
    print(a)

(1, 3)
(5, 7)
9

In [16]:
for (a,b) in [(1,2),(3,4),(5,6)]:
    print(a+b)

3
7
11

In [18]:
a = 'Hello!'
for x in a :
    print(x)

H
e
l
l
o
!

In [19]:
for x in a :
    print(x, end = "")

Hello!

In [20]:
b = ['Hello!','world']

In [21]:
for x in b:
    print(x)

Hello!
world

In [22]:
c = (1,2,3)

In [23]:
for x in c:
    print(x)

1
2
3

In [24]:
# non-sequence type
d = {'circle':2,'rectangle':3,'line':1}
e = {'red','green','blue','red'}

In [26]:
for x in d :
    print(x) # 키값만 할당

circle
rectangle
line

In [28]:
for x in e :
    print(x) # 집합 중복허용x

blue
red
green

In [29]:
# Continue

In [30]:
Score = [100, 7, 75, 32]

In [31]:
num = 0

In [35]:
for a in Score :
    num = num + 1
    if a < 70 :
        continue
    else:
        print('%d 번 합격' %num)

5 번 합격
7 번 합격

In [36]:
# range 함수

In [37]:
a = range(10)

In [38]:
range(0, 10)

range(0, 10)

In [39]:
a = 0

In [40]:
for b in range(10):
    a = a + b
    print(a)

0
1
3
6
10
15
21
28
36
45

In [42]:
a = range(0,4) #[0,1,2,3]

In [44]:
print(a)

range(0, 4)

In [46]:
a = 0
for b in range(1,101):
    a = a + b
print('1부타 100까지의 합은 ',a,'입니다')

1부타 100까지의 합은  5050 입니다

In [47]:
a = 0
for b in range(0, 101, 2) :
    a = a + b
print('1부터 100까지 짝수 합은', a,'입니다.')

1부터 100까지 짝수 합은 2550 입니다.

In [48]:
a = 0
for b in range(1, 101, 2):
    a = a + b
print('1부터 100까지 홀수 합은', a, '입니다.')

1부터 100까지 홀수 합은 2500 입니다.

In [50]:
a = 0
for b in range(1,101) :
    if(b % 3) == 0 or (b % 7) == 0 :
        a = a + b
print('1부터 100까지에서 3 혹은 7의 배수의 합은',a,'입니다.')

1부터 100까지에서 3 혹은 7의 배수의 합은 2208 입니다.

In [52]:
lst = [1,2,3,4,5]
result = []
for num in lst :
    result.append(num*3)
print(result)

[3, 6, 9, 12, 15]

result = [num * 3 for num in lst]
print(result)

In [53]:
result

[3, 6, 9, 12, 15]

In [54]:
result = [num * 3 for num in lst]
print(result)

[3, 6, 9, 12, 15]

In [56]:
#while 
# while 조건문 :
#    실행문